.second_box{
    /* Style for "Rectangle" */
    width: 700px;
    height: 700px;
    margin-top: 30px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    background-color: #ffffff;

    .aligned{
        display: flex;
        flex-flow: row;
        align-content: center;
        align-items: center;
        position: relative;
        padding-right: 60px;
        left: 30px;
        top: 34px;


        .g_line{
            /* Style for "Rectangle" */
            display: flex;
            width: 3px;
            height: 13px;
            background-color: #30c171;

        }

        .main_text{
            /* Style for "Working ho" */
            display: flex;
            position: relative;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
            color: #5d7081;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            text-transform: uppercase;
            left: 10px;

        }

    }

    .inputs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin-left: 30px;
        margin-top: 62px;
        margin-right: 30px;

        .day1{
            /* Style for "Luni" */
            display: flex;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
            color: #5d7081;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 30px;
        }

        .start_inp{
            /* Style for "Rounded Re" */
            display: flex;
            width: 79px;
            height: 36px;
            border-radius: 5px;
            border: 1px solid #b6c2cd;
            background-color: #ffffff;
        }
    
        .finish_inp{
            /* Style for "Rounded Re" */
            display: flex;
            width: 79px;
            height: 36px;
            border-radius: 5px;
            border: 1px solid #b6c2cd;
            background-color: #ffffff;
        }
    
        .arrow{
            /* Style for "element-ar" */
            display: flex;
            width: 14px;
            height: 1px;
            background-color: #b6c2cd;
        }


        .rectangle{
            /* Style for "Rounded Re" */
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 310px;
            height: 36px;
            border-radius: 5px;
            border: 1px solid #b6c2cd;
            background-color: #ffffff;

            .open{
                /* Style for "Rectangle" */
                display: flex;
                width: 103px;
                height: 34px;
                background-color: #ffffff;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
            }
            .open:hover{
                background-color: #30c171;
            }

            .closed{
                /* Style for "Rectangle" */
                display: flex;
                width: 103px;
                height: 34px;
                background-color: #ffffff;

            }

            .closed:hover{
                background-color: #c13330;
             

            }
            
            .allday{
                /* Style for "Rectangle" */
                display: flex;
                width: 103px;
                height: 34px;
                background-color: #ffffff;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }

            .allday:hover{
                background-color: #2975c0;
            }
        }
    }
    
}