<div class="container d-flex justify-content-center">
  <div class="second_box">
    <div class="aligned">
      <div class="g_line">
      </div>
      <span class="main_text">
          Working Hours
        </span>
    </div>
<div class="inputs">
   
        <span class="day1">
          Luni
        </span>
        <input class="start_inp" matInput placeholder="hh:mm" type="time">

      
        <input class="finish_inp" matInput placeholder="hh:mm" type="time">
      
        <div class="rectangle">
          <div class="open">

          </div>
          <div class="closed">

          </div>

          <div class="allday">

          </div>
        </div>
  </div>
  </div>
</div>
