.location_box{
    /* Style for "Rectangle" */
    margin-top: 30px;

    width: 700px;
    height: 552px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    background-color: #ffffff;

    .positionated{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 34px;
        margin-left: 30px;
        width: 100%;

        .line{
            display: flex;
            width: 3px;
            height: 13px;
            background-color: #30c171;
  
        }
        .main_text{
            /* Style for "location i" */
            display: flex;
            margin-left: 9px;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
            color: #5d7081;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            text-transform: uppercase;
        }

        
    }

    .inputs{
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start; 
        margin-top: 20px;
        margin-left: 30px;

        .lab_text1{
            /* Style for "Denumirea" */
             display: flex;
             width: 115px;
             display: block;
             text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
             color: #5d7081;
             font-family: Roboto;
             font-size: 14px;
             font-weight: 400;
             line-height: 30px;
        }

        .lab_text{
            /* Style for "Denumirea" */
            position: relative;
             display: flex;
             
             display: block;
             text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
             color: #5d7081;
             font-family: Roboto;
             font-size: 14px;
             left: -13px;
             top: 10px;
             font-weight: 400;
             line-height: 30px;
        }
        .input1{
            /* Style for "Rounded Re" */
            display: flex;
            padding-left: 15px;
            width: 309px;
            height: 36px;
            text-align: left;
            border-radius: 5px;
            background-color: #f9f9f9;
            border: none;
            text-align: inherit;
        }
        .input2{
            display: flex;
            float: left;
            margin-top: 10px;
            margin-left: -13px;
            justify-content: center;
            width: 309px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid #b6c2cd;
            background-color: #ffffff;
        }


        .percent_text{
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
                color: #5d7081;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
        }

        .radius {
            border: 1px solid #b6c2cd;
        }

      

        .discount{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 141px;
            height: 40px;
            margin-top: 10px;
            margin-left: -13px;
            border-radius: 5px;
            border: 1px solid #b6c2cd;
            background-color: #ffffff;


            .check{
                /* Style for "Rounded Re" */
                display: flex;
                flex-flow: row;
                width: 14px;
                height: 14px;
                border-radius: 4px;
                margin-right: -50px;
                border: 1px solid #b6c2cd;
                background-color: #ffffff;
                



           
            }
            
        }

            .bron {
                /* Style for "Activarea" */
                    position: relative;
                    display: flex;
                    flex-flow: row;
                    right: 60px;
                    margin-top: 45px;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
                    color: #5d7081;
                    margin-right: -45px;
                    font-family: 'Roboto', sans-serif;

                    font-size: 14px;
                    font-weight: 400;
                    line-height: 30px;
            }

           


            

     
}
.lab{
    /* Style for "Categorie" */
        position: relative;
        width: 60px;
        height: 13px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
        color: #5d7081;
        font-family: Roboto;
        top: 20px!important;
        left: -13px;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
}
.line2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: -13px;
    width: 309px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #b6c2cd;
    background-color: #ffffff;
}

.comm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 309px;
    height: 95px;
    border-radius: 5px;
    margin-left: -13px;
    margin-top: 20px;
    border: 1px solid #b6c2cd;
    background-color: #ffffff;
}

.describtion{
     /* Style for "Descriptio" */
    position: relative;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
    color: #5d7081;
    left: -13px;
    top: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.cancel{
    /* Style for "Rounded Re" */
    position: relative;
    left: 312px;
    top: 20px;
    width: 145px;
    height: 39px;
    border: none;
    border-radius: 5px;
    background-color: #c9c9c9;

    .cancel_txt{
        /* Style for "Cancel" */
    
    color: #fffffe;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    }
}

.next{
    /* Style for "Rounded Re" */
    position: relative;
    width: 145px;
    height: 39px;
    left: 326px;
    top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #30c171;

    .next_txt{
        /* Style for "Next" */
    color: #fffffe;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    }
}
}