<div class="container d-flex justify-content-center">
    <div class="location_box">
      <div class="positionated">
        <div class="line">
        </div>
        <b class="main_text">location info</b>
      </div>
      <div class="inputs">
          <b class="lab_text1">Denumirea Juridica</b>
          <input class="input1" disabled value="STAR LAB"/>

          <div class="container">
            <div class="row">
              <div class="col-sm">
                <span class="lab_text">Denumirea Comerciala</span>
                <input class="input2"/>
              </div>
              <div class="col-sm">
                <span class="lab_text">Reducere StarNet</span>
                <form>
                  <div class="discount">
                    <div class="input-group">
                      <input type="text" class="form-control" >
                      <div class="input-group-btn">
                        
                        <button class="btn btn-default" type="submit" disabled>
                          <b class="">%</b>
                        </button>
                        
                        
                    </div>
                    </div>
                    <div type="checkbox" class="check"></div>
                  
                  </div>
                  </form>
                
                </div>
                <div class="bron">
                    <span>Activarea bronarii</span>
                  </div>
            </div>
              <!--line2-->
              
              <div class="row">
                  <div class="col-sm">
                  <span class="lab">Categorie</span>
                  <select class="line2">
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
                    </div>

                    <div class="col-sm">
                        <span class="lab">Categorie</span>
                        <select class="line2">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                          </select>
                          </div>
                </div>
                <!--line3-->
                <div class="row">
                    <div class="col-sm">
                      <span class="describtion">Descriere RU</span>
                          <textarea class="comm"></textarea>
                    </div>
  
                      <div class="col-sm">
                          <span class="describtion">Descriere RO</span>
                          <textarea class="comm"></textarea>
            
                      </div>
                </div>
                <button class="cancel">
                  <span class="cancel_txt"> Cancel </span>
                </button>

                <button class="next" (click)="goToPag2()">

                    <span class="next_txt"> Next </span>
                  </button>
          </div>
        </div>

    </div>
    <router-outlet></router-outlet>
