

.navbar {
    /* Style for "Rectangle" */
    width: 100%;
    height: 100px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.29);
    background-color: #7f94a8;
    background-image: linear-gradient(45deg, #7e93a8 0%, #1d2d34 100%);

    .menu{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .image{
            /* Style for "Layer 4" */
            width: 84px;
            height: 70px;
            
        }
        .action{
            display: flex;
            align-items: center;
            a{
                margin-right: 45px;

                b{
                    margin-left: 3px;
                    line-height: 50%;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                }
                .login{
                    /* Style for "log out" */
                        margin-left: 3px;
                        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
                        color: #ffffff;
                        font-family: Roboto;
                        font-size: 18px;
                        font-weight: 500;
                }

                .profile{
                    width: 44px;
                    height: 44px;
                }
                .logout{
                    width: 18px;
                    height: 18px;
                    
                }
                .language{
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 500;
                }
                .drp_button{
                    /* Style for "Shape 1" */
                   margin-left: 3px;
                }
            }
            
        }
    }
}

.pages{
    /* Style for "Rectangle" */
    display: flex;
    flex-flow: raw nowrap;
    justify-content: space-around;
    padding-right: 35px;
    margin-left: 18.5%;
    margin-top: 40px;
    width: 700px;
    height: 111px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    background-color: #ffffff;

    .Step_1{
        /* Style for "Step" */
        display: flex;
        position: absolute;
        margin-left: 35px;
        margin-top: 20px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
        color: #5d7081;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
    }
    .one{
        /* Style for "1" */
        display: flex;
        margin-top: 28px;
        margin-left: 37px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
        color: #b6c2cd;
        font-family: Roboto;
        font-size: 38px;
        font-weight: 700;
    }

    .dot{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -5px;
        margin-left: 39px;
        width: 16px;
        height: 16px;
        border: 1px solid #b6c2cd;
        border-radius: 50%;
        background-color: #ffffff;


        .colored{
            display: flex;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #b6c2cd;
        }
    }
}
.footer{
    /* Style for "Rectangle" */
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 39px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.29);
    background-color: #7f94a8;
    background-image: linear-gradient(45deg, #7e93a8 0%, #1d2d34 100%);
    text-align: center;
    .foot_text{

    
        color: #ffffff;
        font-family: Ubuntu;
        font-size: 12px;
        font-weight: 400;
        line-height: 36px;
    }
}
