<div class="navbar">
  <div class="container">
    <div class="menu">
      <a  href="">
        <img src="../assets/images/logo.png" class="image">
      </a>
      <div class="action">
        <a href="">
          <img src="../assets/images/profile.png" class="profile">
          <b>Gheorghe Washington</b>
        </a>
        <a href="">
          <img src="../assets/images/login.png" class="logout">
          <span class="login">log out</span>
        </a>
        <a href="">
          <div>
          <span class="login">
            Ru
          </span>
          <img src="../assets/images/dropdown.png" class="drp_button">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="pages">
  <div>
    <div class="Step_1">
      Step
    </div>
    <div class="one">
      1
    </div>
    <div class="dot">
      <div class="colored">
      </div>
    </div>
  </div>

  <div>
      <div class="Step_1">
        Step
      </div>
      <div class="one">
        2
      </div>
      <div class="dot">
        <div class="colored">
        </div>
      </div>
    </div>

    <div>
        <div class="Step_1">
          Step
        </div>
        <div class="one">
          3
        </div>
        <div class="dot">
          <div class="colored">
          </div>
        </div>
      </div>

      <div>
          <div class="Step_1">
            Step
          </div>
          <div class="one">
            4
          </div>
          <div class="dot">
            <div class="colored">
            </div>
          </div>
        </div>

        <div>
            <div class="Step_1">
              Step
            </div>
            <div class="one">
              5
            </div>
            <div class="dot">
              <div class="colored">
              </div>
            </div>
          </div>

          <div>
              <div class="Step_1">
                Step
              </div>
              <div class="one">
                6
              </div>
              <div class="dot">
                <div class="colored">
                </div>
              </div>
            </div>

            <div>
                <div class="Step_1">
                  Step
                </div>
                <div class="one">
                  7
                </div>
                <div class="dot">
                  <div class="colored">
                  </div>
                </div>
              </div>


</div>
</div>
<div class="footer">
    <span class="foot_text"> © 2013-2017 “Star-Club” All rights reserved.</span>
</div>

<router-outlet></router-outlet>