/* You can add global styles to this file, and also import other style files */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden; 

    background-image: linear-gradient(43deg, #d7d7d7 0%, #ffffff 100%);
}